<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>F:\Github\GameFrame\client\GameClient\frameworks\runtime-src\proj.win32\Debug.win32\GameClient.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>F:\Github\GameFrame\client\GameClient\src</StartWorkingDirectory>
  </propertyGroup>
</Project>