<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_soldier_1_atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,150},{40,42}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{40,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,106},{44,46}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,47},{44,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{62,42}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,51},{62,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{68,48}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,45},{68,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_atk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,52},{60,52}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,41},{60,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_atk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{60,52}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,41},{60,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_atk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,194},{40,42}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,51},{40,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_atk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,152},{40,42}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,51},{40,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,194},{40,42}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{40,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,56},{46,46}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,47},{46,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,38}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,65},{76,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{44,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,50},{44,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,104},{44,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,51},{44,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,148},{44,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,53},{44,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{42,46}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,51},{42,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{42,50}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,48},{42,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,54},{42,46}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{42,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{42,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,53},{42,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_soldier_1_walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,102},{44,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,51},{44,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dh_soldier_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47e9a0c85d78b8e1e03b16101daf482a:1/1$</string>
            <key>textureFileName</key>
            <string>dh_soldier_1.png</string>
        </dict>
    </dict>
</plist>
